doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    link(rel='stylesheet', href='/normalize.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    block extrahead
  body
    block content